<%= render 'form', message: @message %>

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
            <%= link_to 'Retour aux discussions', messages_path %>
        </div>
    </div>
</div>
