/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require trix
 */

 @import 'build/build.css';
 @import 'comments.scss', 'fields', 'messages', 'scaffolds', 'registrations.css.scss', 'posts.scss';

 html, body {
     font-family: 'Raleway', sans-serif;
     height: 100%;
     margin: 0;
     background-color: #f8f9fa;
 }

 a :hover {
     color: #333333;
 }

 .yield{
    padding-top: 0;
 }

 .space-top-index {
     padding-top: 15vh;
 }
 
 .space-top-show {
    padding-top: 6vh;
}

.nav-border {
    border-bottom: 1px solid #C0C0C0;
}

.post-content {
    margin-top: 15vh;
}

.new-article-top {
    margin-top: 3vh;
} 

.article-show-top {
    margin-top: 8vh;
}

.article-border {
    border: 2px solid #e8e7e7;
}

.about-content {
    line-height: 30px;
    text-align: justify;
}

.bottom-menu {
    display: flex;
    justify-content: space-around;
}

.menu-content {
    font-size: 16px;
}