.signup-bg {
    height: 100vh;
    margin-top: 0;
    /* background: url(signup-bg.jpg) no-repeat center center fixed; */
    background-color: #696969;
    background-size: cover;
    overflow: hidden;
    /* overflow: scroll; */
 }

 .content {
    margin-top: 15vh;
 }

 .brand {
     margin-bottom: 12vh;
 }
